// This is the styling for the entire webpage
body {
  color: var(--color-gray-90); // Sets the text color to a dark gray
  font-weight: var(--font-weight-regular); // Sets the font weight to regular
  font-family: var(--font-family-monospace); // Uses a monospace font family
}

// This is the styling for the root element of the webpage
#root {
  width: 100%; // Sets the width to 100% of the parent container
  height: 10vh; // Sets the height to 10% of the viewport height
  background-color: var(--color-gray-10); // Sets the background color to a light gray
}

// This is the styling for the notification container
.notification-container {
  position: absolute; // Positions the container absolutely within its parent
  top: 3rem; // Sets the distance from the top to 3rem
  right: 3rem; // Sets the distance from the right to 3rem
