// This is the styling for the entire webpage
body {
  color: var(--color-gray-90); // Sets the text color to a dark gray
  font-weight: var(--font-weight-regular); // Sets the font weight to regular
  font-family: var(--font-family-monospace); // Uses a monospace font family
}

// This is the styling for the root element of the webpage
#root {
  width: 100%; // Sets the width to 100% of the parent container
