// This class represents a row containing an account badge
.account-badge-row {
  display: flex;
  justify-content: flex-end;
  height: 35px;

  // This class represents an individual account badge
  .account-badge {
    width: 125px;

    // This class represents the badge element inside an account badge
    .Badge {
      display: flex;
      height: 28px;
      justify-content: space-between;
      padding: 0.25rem 0.5rem;

      // This class represents the public key element inside a badge
      .badge-pubkey {
        display: flex;
        align-items: center;
      }
    }
